body {
    margin: 0;
    padding: 0;
    background: #004;
}

canvas#display {
    width: 800px;
    height: 600px;
    background-color: black;
    margin: 2em auto;
    display: block;
}

span#label {
    font-size: 30px;
    color: white;
}

div#score {
    display: inline-block;
    background-color: darkred;
    color: aqua;
    font-width: bold;
    min-width: 10em;
}